In [373]:
import pandas as pd
from pathlib import Path

school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

#

In [374]:
# Calculate the total number of unique schools
school_count = school_data['school_name'].nunique()

In [375]:
# Calculate the total number of students
student_count = student_data.shape[0]

In [376]:
# Calculate the total budget
total_budget = school_data['budget'].sum()

In [377]:
# Calculate the average (mean) math score
average_math_score = student_data['math_score'].mean()

In [378]:
# Calculate the average (mean) reading score
average_reading_score = student_data['reading_score'].mean()

In [379]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100

In [380]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [381]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

In [382]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = {
    "Total Students": "{:,}".format(student_count),
    "Total Budget": "${:,.2f}".format(total_budget)
}

# Formatting
district_summary["Total Students"] = district_summary["Total Students"]
district_summary["Total Budget"] = district_summary["Total Budget"]

# Display the DataFrame
district_summary_df = pd.DataFrame(district_summary, index=[0])

In [383]:
# Use the code provided to select all of the school types
school_types = school_data.set_index(["school_name"])["type"]

In [384]:
# Calculate the total student count per school
per_school_counts = school_data['size'].count()

In [385]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.groupby("school_name")["budget"].mean()
per_school_capita = per_school_budget / per_school_counts

In [386]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [387]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby("school_name")["Student ID"].count()

In [388]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby("school_name")["Student ID"].count()

In [389]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [390]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [391]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary_df = pd.DataFrame(per_school_summary, index=[0])

In [392]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,15,"$3,124,928.00","$208,328.53",77.048432,81.033963,22120.000000,27180.000000,18126.666667
Johnson High School,District,15,"$3,094,650.00","$206,310.00",77.072464,80.966394,20966.666667,25780.000000,16993.333333
Hernandez High School,District,15,"$3,022,020.00","$201,468.00",77.289752,80.934412,20626.666667,24986.666667,16540.000000
Rodriguez High School,District,15,"$2,547,363.00","$169,824.20",76.842711,80.744686,17693.333333,21386.666667,14126.666667
Wilson High School,Charter,15,"$1,319,574.00","$87,971.60",83.274201,83.989488,14286.666667,14693.333333,13786.666667

In [393]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = top_schools.sort_values(by="% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Holden High School,Charter,15,"$248,087.00","$16,539.13",83.803279,83.814988,2633.333333,2740.000000,2540.000000
Pena High School,Charter,15,"$585,858.00","$39,057.20",83.839917,84.044699,6066.666667,6153.333333,5806.666667
Griffin High School,Charter,15,"$917,500.00","$61,166.67",83.351499,83.816757,9140.000000,9506.666667,8866.666667
Ford High School,District,15,"$1,763,916.00","$117,594.40",77.102592,80.746258,12473.333333,14480.000000,9913.333333
Thomas High School,Charter,15,"$1,043,130.00","$69,542.00",83.418349,83.848930,10166.666667,10606.666667,9913.333333

In [394]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =  school_data_complete.groupby(["school_name", "grade"]).agg({
    "math_score": "mean"
}).reset_index().pivot(index="school_name", columns="grade", values="math_score")

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores
})

In [395]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = school_data_complete.groupby(["school_name", "grade"]).agg({
    "math_score": "mean"
}).reset_index().pivot(index="school_name", columns="grade", values="math_score")

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

In [396]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [397]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [398]:
# Remove dollar sign and commas from "Per Student Budget" column and convert to numeric
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].replace({'\$': '', ',': ''}, regex=True).astype(float)

# Use `pd.cut` to categorize spending based on the bins.
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"], spending_bins, labels=labels)

# Create a DataFrame to store the results
school_spending_df = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending,
})

In [399]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

spending_summary_df = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Formatting
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.2f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.2f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.2f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.2f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.2f}".format)

In [400]:


# Display the DataFrame
spending_summary_df = pd.DataFrame(per_school_summary, index=[0])

In [401]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [402]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)

In [403]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [404]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

In [405]:
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =  pd.DataFrame(size_summary)

In [406]:
# Display results
print("Size Summary:")
print(size_summary)

Size Summary:
                    Average Math Score  Average Reading Score  % Passing Math  \
School Size
Small (<1000)                 80.43253              82.529188    13053.333333
Medium (1000-2000)                 NaN                    NaN             NaN
Large (2000-5000)                  NaN                    NaN             NaN

                    % Passing Reading  % Overall Passing
School Size
Small (<1000)            14937.777778       11345.777778
Medium (1000-2000)                NaN                NaN
Large (2000-5000)                 NaN                NaN

In [407]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [408]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

In [409]:
# Display results
print("Type Summary:")
print(type_summary)

Type Summary:
             Average Math Score  Average Reading Score  % Passing Math  \
School Type
Charter               83.473852              83.896421     9521.666667
District              76.956733              80.966636    17089.523810

             % Passing Reading  % Overall Passing
School Type
Charter            9820.833333        9202.500000
District          20785.714286       13795.238095